
          
    .features{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    .__item{
        margin-right: 30px;
        width: 270px;
        &:last-child {
            margin-right: 0;
            }
        }
    } 
    .features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    }
    
    .features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-grey-color);
    }
    .features__box{
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    }