

    .work{
    display: flex;
    &__item{
    margin-right: 30px;
    position: relative;
    &:last-child{
    margin-right: 0;
    }
    }
    }
    
    .work__img-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    bottom: 0;
    }

    .section--no-pading-top{
        padding-top: 0;
    }

    .section__title{     
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    }