

    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    ul{
        margin: 0;
        padding-left: 0;
    }

    address {
        font-style: normal;
    }

    a {
        color: currentColor;
      
    }

body {
     font-family: var(--main-font) 
    }
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .list {
        list-style: none;
    }

    