:root {
    --primary-text-color: rgba(21, 21, 21, 1);
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --primary-grey-color: #757575;
    --primary-icon-color: #AFB1B8;
    --main-font: Roboto, sans-serif;
    --second-font: Raleway, cursive;
    }